body {
  background-color: #f6f6f6;
}

.content {
  display: grid;
  grid-template-columns: [col1-start] 4fr [col2-start] 1fr [col3-start] 1fr [col4-start] 1fr [col5-start] 1fr [col5-end];
  grid-template-rows: [row1-start] 54px [row2-start] 250px [row3-start] 1800px [row3-end];
  grid-column-gap: 12px;
  grid-row-gap: 10px;
}

@font-face {
  font-family: "Roboto Slab Bold";
  src: url(fonts/RobotoSlab-Bold.ttf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Muli Black";
  src: url(fonts/Muli-Black.ttf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Muli Semibold";
  src: url(fonts/Muli-Black.ttf);
  font-style: normal;
  font-weight: 100;
}

h1 {
  color: #27198c;
  font-family: "Muli Black", sans-serif;
  font-weight: 900;
  font-size: 1.9em;
  margin-top: 0;
  margin-left: 20px;
  margin-bottom: 30px;
  line-height: 1.5;
}

h3 {
  color: #bebebe;
  font-family: "Roboto Slab Bold", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  margin-left: 20px;
}

.main {
  display: inline-block;
}

.button1 {
  font-family: "Muli Black", sans-serif;
  letter-spacing: 1px;
  background-color: #f6f6f6;
  color: #27198c;
  border: 1px solid #fe7010;
  width: 146px;
  height: 48px;
  font-weight: 900;
  font-size: 0.75em;
  vertical-align: top;
  margin: 20px -6px 60px 20px;
  text-align: left;
  padding-left: 20px;
}

.button1:hover {
  cursor: pointer;
}

.leftimage {
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.rightimage {
  margin-bottom: 25px;
  width: 200%;
  height: auto;
}

.plus {
  vertical-align: middle;
  padding: 16px;
  background-color: #fe7010;
  margin-top: 20px;
}

.plus:hover {
  cursor: pointer;
}

.para1 {
  font-family: "Muli", sans-serif;
  font-weight: 600;
  color: #191919;
  margin-bottom: 40px;
  margin-left: 20px;
  line-height: 1.8;
}

.item-2 {
  grid-column: col1-start;
  grid-row: row2-start;
}

.item-3 {
  grid-column: col1-start;
  grid-row: row3-start;
}

.item-4 {
  grid-column: col2-start;
  grid-row: row2-start;
}

.item-5 {
  grid-column: col3-start;
  grid-row: row2-start;
}

.item-6 {
  grid-column: col4-start;
  grid-row: row2-start;
}

.item-7 {
  grid-column: col5-start;
  grid-row: row2-start;
}

.item-8 {
  grid-column: col2-start / 4;
  grid-row: row3-start;
}

.orderedlist {
  font-family: "Muli Black", sans-serif;
  font-size: 50px;
  font-weight: 400;
  color: #e5e5e5;
  margin-top: 6px;
  margin-bottom: 10px;
  line-height: 94%;
}

.placeholder {
  margin-left: 36px;
  width: 50%;
  height: auto;
}

.placetitle {
  font-family: "Roboto Slab Bold";
  color: #27198c;
  text-align: center;
  font-size: 12px;
  margin-right: 20px;
  margin-top: 10px;
  letter-spacing: 1px;
  line-height: 1.8em;
  font-weight: 900;
}

.slideshow-container {
  display: none;
}
